# Dependências do Composer
/vendor/

/node_modules/

/sessions/

/cache/

# Arquivos de ambiente
.env
.env.local

# Arquivos de IDE (VSCode, PHPStorm)
.idea/
.vscode/
*.swp

# Logs e arquivos de sistema operacional
/logs/
*.log
.DS_Store
Thumbs.db